.card-container {
    padding-top: 10px;
    
  }
  .card-body:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8);
  }
  .img-custom {
    position: relative;
    height: 20vh;
    width: 20vh;
    top: -10vh;
    border: 5px solid #e63946;
    border-radius: 100px;
    z-index: 10;
  }
  .card-header {
    height: 30vh;
    width: 40vh;
    margin: 0 auto;
  }
  .card-body {
    position: relative;
    color:#fff;
    padding: 3vh;
    top: -20vh;
    height: 50vh;
    width: 40vh;
    background-color: #4895ef;
    margin: 0 auto;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s;
  }
  .user-details {
    margin-top: 2rem;
    font-size: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  h1 {
    margin-top: 9vh;
    font-size: 4vh;
    font-weight: 600;
  }
  table {
    margin-top: 5vh;
    font-size: 2vh;
    background-color: #4cc9f0;
  }
  th {
    color: #fff;
  }
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5vh;
  }
  a:hover {
    color: #e63946 ;
  }